body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1700px;
    height: 450px;
}

img {
    width: 300px;
    height: 300px;
}

.img :hover{
    width: 350px;
    height: 350px;
}

#counter-box{
    background-color: brown;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}